<h1><%=@company.name%></h1>

<p> Factures non payées  - <a href="/entreprises/<%=current_user.company.id%>/factures"> Voir plus  </a></p>
<ul>
    <% @invoices_top_5.each do |invoice| %>
        <li><a href="/entreprises/<%=current_user.company.id%>/factures/<%=invoice.id%>"> <%= invoice.invoice_name%> </a> - Date de Paiement: <%= invoice.invoice_date%></li>
    <%end%>
</ul>

</br></br>

</br></br>



<%= column_chart Invoice.group_by_day(:payment_date).count, title: "Facture par Date de Paiement" %> 

</br></br>

<%= column_chart @data_count, stacked: true, title: "Nombre de Factures par statut" %> 

</br></br>

<%= column_chart @data_amount, stacked: true, title: "Nombre de Factures par montant" %> 

</br></br>

<%= line_chart @data_all, title: "Revenus" %>