<h1><%=@company.name%></h1>

<p> Overdue Invoice  - <a href="/entreprises/<%=current_user.company.id%>/factures"> See More  </a></p>
<ul>
    <% @invoices_top_5.each do |invoice| %>
        <li><a href="/entreprises/<%=current_user.company.id%>/factures/<%=invoice.id%>"> <%= invoice.invoice_name%> </a> - Payment Date: <%= invoice.invoice_date%></li>
    <%end%>
</ul>

</br></br>

</br></br>



<%= column_chart Invoice.group_by_day(:payment_date).count, title: "Payment Date" %> 

<%= column_chart @data_count, stacked: true %> 

<%= column_chart @data_amount, stacked: true %> 

<%= line_chart @data_all %>