<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">

      <h1 style='font-size: 25px'> Create a new Transaction </h1>

      <div data-controller="invoice">

        <form action="./save_transaction">

          <%= select_tag :entity,
                  options_from_collection_for_select(@company.entities, "id", "name", @invoice.id), style: "#{'display:none'}"%>

          <div id="myList">
            <div data-invoice-target="other" >
            </div>
          </div>

          <%= label_tag :item %>
          <%= select_tag "item", options_from_collection_for_select(@items, "id", "item_name" ),
          include_blank: true, class: "form-control"%>

          <%= label_tag 'comment'%>
          <input type="text" name="comment" class="form-control">

          <%= label_tag 'quantity'%>
          <input type="test" name="quantity" class="form-control">

        </br>

            <input type="submit" value="Submit" class="btn btn-primary">
            

        </form>

      </div>

      <%= link_to "Create Customer", new_company_customer_path(@company) %>
      <%= link_to "Create Item", new_company_item_path(@company) %>
    </div>
  </div>
</div>