<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">

        <h1 style='font-size: 30px; text-align: center'> Modifier la Facture </h1>
            <div data-controller="invoice">
                <form action="/entreprises/<%=@company.id%>/factures/<%=@invoice.id%>/update">
                    <%= label_tag 'Nom de la facture' %>
                    <%= text_field_tag :invoice_name, @invoice.invoice_name, class:"form-control"%>
              
                    <%= label_tag 'Nom de la facture' %>
                    <%= text_field_tag :invoice_date, @invoice.invoice_date, class:"datepicker_full"%>

                    <%= label_tag 'Date du Paiement' %>
                    <%= text_field_tag :payment_date, @invoice.payment_date, class:"datepicker_full"%>


                    <%= label_tag 'Numéro de la Facture' %>
                    <%= text_field_tag :invoice_number, @invoice.invoice_number, class:"form-control"%>

                    <%= label_tag "Client" %>
                    <%= select_tag :customer,
                    options_from_collection_for_select(@customers, "id", "name", @invoice.customer.id),
                    include_blank: true,
                    class:"form-control" %>

                    </br>

                    <input type="submit" value="Valider" class="btn btn-primary">
        

                </form>
            
            

            </div>

        </div>  
    </div>
</div>