<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">

        <h1 style='font-size: 30px; text-align: center'> Update Invoice </h1>
            <div data-controller="invoice">
                <%= simple_form_for([@company, @invoice]) do |f| %>
                    <%= f.input :invoice_name %>

                    <%= f.input :invoice_date,
                    as: :string,
                    required: true,
                    autofocus: true,
                    input_html: { class: "datepicker_full"} %>

                    <%= f.input :payment_date, 
                    as: :string ,
                    required: true,
                    autofocus: true,
                    input_html: {class: "datepicker_full"}%>

                    <%= f.input :invoice_number%>

                    <%= label :customer, "Customer" %>
                    <%= select_tag :customer,
                    options_from_collection_for_select(@customers, "id", "name", @invoice.customer.id),
                    class: "form-control" %>
                    </br>
                    <%= label :name_photo, "Name Photo" %>
                    </br>
                    <input type="text" name="name_photo" class="form-control">

                    <%= f.input :photo, as: :file %>

                    <%= f.submit "Save", class: "btn btn-primary" %>
                <% end %>

            </div>

        <%= link_to "Create Customer", new_company_customer_path(@company) %>
        <%= link_to "Create Item", new_company_item_path(@company) %>
        </div>  
    </div>
</div>