<h1> Your Invoices </h1>

<%= link_to "Create Invoice", new_company_invoice_path(current_user.company) %>

<%i=1%>

<table class="table table-hover" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Entity Name</th>
      <th scope="col">Jurisdiction</th>
      <th scope="col">Invoice Name</th>
      <th scope="col">Invoice Date</th>
      <th scope="col">Invoice Number</th>
      <th scope="col">Payment Date</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%@invoices.each do |invoice| %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=invoice.entity.name%></td>
      <td><%=invoice.entity.country.name%></td>
      <td><%=invoice.invoice_name%></td>
      <td><%=invoice.invoice_date%></td>
      <td><%=invoice.invoice_number%></td>
      <td><%=invoice.payment_date%></td>
      <td><%=invoice.customer.name%></td>
      <td>
        <a class="btn btn-light" href="./invoices/<%=invoice.id%>"> Open </a>
        <a class="btn btn-primary" href="./invoices/<%=invoice.id%>/edit"> Edit </a> 
        <a class="btn btn-danger" href="./invoices/<%=invoice.id%>/delete_invoice" onclick="return confirm('Are you sure?')"> Delete </a>

      </td> 
    </tr>
    <%i += 1%>
    <%end%>
  </tbody>
</table>


