<h1> Vos Factures </h1>

<a class="btn btn-primary" href="./factures/new"> Créer une facture </a> 

</br>

<form action="./factures" method="get">
  <div class="row">
    <div class="col text-center">
      <%= label_tag "Nom"%>
      <%= text_field_tag :query_name, '', class:"form-control"%>
    </div>
    <div class="col text-center">
      <%= label_tag "Du"%>
      <%= text_field_tag :from_date, '', class:"form-control datepicker_full"%> 
    </div>
    <div class="col text-center">
      <%= label_tag 'Au'%>
      <%= text_field_tag :to_date, '', class:"form-control datepicker_full"%> 
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col text-center">
      <input type="submit" value="Search" class="btn btn-primary">
    </div>
  </div>
</form>

</br>

<%i=1%>

<table class="table table-hover" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de l'Entité</th>
      <th scope="col">Juridiction</th>
      <th scope="col">Nom de la Facture</th>
      <th scope="col">Date de la Facture</th>
      <th scope="col">Numéro de la Facture</th>
      <th scope="col">Date de Paiement</th>
      <th scope="col">Nom du Client</th>
      <th scope="col">Payé</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%@invoices.each do |invoice| %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=invoice.entity.name%></td>
      <% country = LanguageCountry.where( language_id: current_user.language.id, country_id: invoice.entity.country.id)[0] %>
      <td class="text-center"><%=country.name%></td>
      <td><%=invoice.invoice_name%></td>
      <td><%=invoice.invoice_date%></td>
      <td><%=invoice.invoice_number%></td>
      <td><%=invoice.payment_date%></td>
      <td><%=invoice.customer.name%></td>
      <%invoice.is_paid ? paid = "Oui" : paid = "Non"%>
      <td><%=paid%></td>
      <td>
        <a class="btn btn-light" href="<%= "/entreprises/" + current_user.company.id.to_s + "/factures/" + invoice.id.to_s%>"> Ouvrir </a>
        <a class="btn btn-primary" href="<%= "/entreprises/" + current_user.company.id.to_s + "/factures/" + invoice.id.to_s + "/paid"%>"> Payer </a>
        <a class="btn btn-primary" href="./factures/<%=invoice.id%>/edit"> Modifier </a> 
        <a class="btn btn-danger" href="./factures/<%=invoice.id%>/delete_invoice" onclick="return confirm('Etes-vous sûr?')"> Supprimer </a>
      </td> 
    </tr>
    <%i += 1%>
    <%end%>
  </tbody>
</table>


