<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">
      <h1  style='font-size: 25px; text-align: center'> Create a new Invoice </h1>
      <div data-controller="invoice">
        <form action="./create">

          <%= label_tag 'Nom de la Facture' %>
          <%= text_field_tag :invoice_name, '', class:"form-control"%>

          <%= label_tag "Side" %>
          <%= select_tag :side,
          options_from_collection_for_select(@sides, "id", "name"),
          include_blank: true,
          class: "form-control"%>

          <%= label :side, "Location" %>
          <%= select_tag :location,
          options_from_collection_for_select(@locations, "id", "name"),
          include_blank: true,
          class: "form-control"%>

          <%= label :entity, "Entity" %>
          <%= select_tag :entity,
          options_from_collection_for_select(@entities, "id", "name"),
          include_blank: true, 
          class:"form-control" %>
            </br>

          <%= label_tag 'Nom de la facture' %>
          <%= text_field_tag :invoice_date, '', class:"datepicker_full"%>

          <%= label_tag 'Date du Paiement' %>
          <%= text_field_tag :payment_date, '', class:"datepicker_full"%>

          <%= label_tag 'Numéro de Facture' %>
          <%= text_field_tag :invoice_number, '', class:"form-control"%>

          <%= label :customer, "Customer" %>
          <%= select_tag :customer,
          options_from_collection_for_select(@customers, "id", "name"),
          include_blank: true,
          class:"form-control" %>
          
            <br/>

          <%= label :credit_note, "Credit Note"%>
          <input type="checkbox" id="credit_note" name="credit_note" value="Yes">
                <br/>


          <div id="myList">
          
          <div data-invoice-target="other" >
          </div>
          
          </div>


              
          <input type="submit" value="Sauvegarder" class="btn btn-primary">
        </form>


      </div>

    </div>  
  </div>
</div>