<h1>Information sur la Facture</h1>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <p><b>Nom de la Facture</b>: <%=@invoice.invoice_name%> </p>
    </div>
    <div class="col">
      <p><b>Date de la Facture</b>:  </br><%=@invoice.invoice_date%></p>
    </div>
    <div class="col">
      <p><b>Date de Paiement</b>: <%=@invoice.payment_date%></p>
    </div>
    <div class="col">
      <p><b>Numéro de Facture</b>: <%=@invoice.invoice_number%> </p>
    </div>
    <div class="col">
      <p><b>Nom du Client</b>: <%=@invoice.customer.name%></p>
    </div>
    <div class="col">
      <p><b>Nom de l'Entité</b>:  </br><%=@invoice.entity.name%></p>
    </div>
  </div>
</div>
</br>

<a class="btn btn-primary" href="./<%=@invoice.id%>.generate_pdf.pdf" role="button">Générer un PDF</a>
<a class="btn btn-primary" href="./<%=@invoice.id%>/edit" role="button">Modifier</a>
<a class="btn btn-primary" href="./<%=@invoice.id%>/add_transaction" role="button">Ajouter une Transaction</a>

<% total_amount = 0 %>
<% total_vat = 0 %>

</br>
</br>
</br>

<table class="table" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Article</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Quantité</th>
      <th scope="col">Montant Hors TVA / Unité</th>
      <th scope="col">Montant TVA / Unité</th>
      <th scope="col">Prix Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%i=1%>
  <%@transactions.each do |transaction|%>
    <% total_amount += transaction.net_amount+ transaction.vat_amount %>
    <% total_vat += transaction.vat_amount  %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=transaction.item.item_name%></td>
      <td><%=transaction.comment%></td>
      <td><%=transaction.quantity%></td>
      <td><%=transaction.net_amount%></td>
      <td><%=transaction.vat_amount%></td>
      <td><%=transaction.net_amount+ transaction.vat_amount%></td>
      <td>
        <a class="btn btn-primary" href="./<%=@invoice.id%>/transactions/<%=transaction.id%>/edit_transaction_invoice" role="button">Modifier Transaction</a>
        <a class="btn btn-danger" href="./<%=@invoice.id%>/transactions/<%=transaction.id%>/delete_transaction" onclick="return confirm('Etes-vous sûr?')"> Supprimer </a>
      </td>
    </tr>
    <%i +=1%>
    <%end%>
  </tbody>
</table>

<p> <b>Montant Total</b>: <%= total_amount %> </p>
<p> <b>Montant Total TVA</b>: <%=total_vat %></p>
