<h1> <%=@entity.name%> </h1>

<ul>
    <li>Juridiction: <%=@entity.country.name%> </li>
    <li>Adresse: <%=@entity.address%></li>
    <li>Email: <%=@entity.email%></li>
    <li>Site Web: <%=@entity.website%></li>
    <li>Code Postal: <%=@entity.postal_code%></li>
    <li>Ville: <%=@entity.city%></li>
    <li>Numéro de Téléphone: <%=@entity.phone_number%></li>
    <li>Numéro de TVA: <%=@entity.vat_number%></li>
    <li>IBAN: <%=@entity.iban%></li>
    <li>BIC: <%=@entity.bic%></li>
</ul>

<h2> Declarations</h2>
<%i=1%>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de l'Entité</th>
      <th scope="col">Juridiction</th>
      <th scope="col">Type de Projet</th>
      <th scope="col">Periodicité</th>
      <th scope="col">Début</th>
      <th scope="col">Fin</th>
      <th scope="col">Date Due</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%@returns.each do |company_return| %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=company_return.entity.name%></td>
      <td><%=company_return.entity.country.name%></td>
      <td><%=company_return.project_type.name%></td>
      <td><%=company_return.periodicity.name%></td>
      <td><%=company_return.begin_date%></td>
      <td><%=company_return.end_date%></td>
      <td><%=company_return.due_date.due_date%></td>
      <td>

        <a class="btn btn-light" href="/entreprises/<%=company_return.entity.company.id %>/entites/<%=company_return.entity_id%>/returns/<%=company_return.id%>"> Ouvrir </a>
        <!--
        <%= button_to "Supprimer", { action: "destroy", id: company_return.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
        -->
      </td> 
    </tr>
    <%i += 1%>
    <%end%>
  </tbody>
</table>

<a class="btn btn-primary" href="./<%=@entity.id%>/edit"> Edit </a>

