<h1> <%=@entity.name%> </h1>

<ul>
    <li>Jurisdiction: <%=@entity.country.name%> </li>
    <li>Address: <%=@entity.address%></li>
    <li>Email: <%=@entity.email%></li>
    <li>Website: <%=@entity.website%></li>
    <li>Postal Code: <%=@entity.postal_code%></li>
    <li>City: <%=@entity.city%></li>
    <li>Phone Number: <%=@entity.phone_number%></li>
    <li>VAT Number: <%=@entity.vat_number%></li>
    <li>IBAN: <%=@entity.iban%></li>
    <li>BIC Number: <%=@entity.bic%></li>
</ul>

<h2> Entities Returns </h2>

<ul>
    <%@declarations.each do |declaration|%>
        <li><a href="./<%=declaration.entity.id%>/returns/<%=declaration.id%>"> <%=declaration.begin_date%> - <%=declaration.end_date%> - <%=declaration.periodicity_to_project_type.project_type.name%></a></li>
    <%end%>
</ul>

<a class="btn btn-primary" href="./<%=@entity.id%>/edit"> Edit </a>

