<h1 style="text-align: center; font-size: 30px"> <%=@entity.name%> </h1>
</br>
<div class="container text-center">
  <div class="row">
    <div class="col">
        <% country = LanguageCountry.where( language_id: current_user.language.id, country_id: @entity.country.id)[0] %>
      <p><b>Juridiction de l'entreprise</b>:  </br><%=country.name%></p>
    </div>
    <div class="col">
        <p><b>Numéro de TVA</b>:  </br><%=@entity.vat_number%></p>
    </div>
    <div class="col">
        <p><b>IBAN</b>:  </br><%=@entity.iban%></p>
    </div>
    <div class="col">
        <p><b>BIC</b>:  </br><%=@entity.bic%></p>
    </div>
  </div>
  <div class="row">
    
    <div class="col">
        <p><b>Adresse</b>:  </br><%=@entity.address%></p>
    </div>
    <div class="col">
        <p><b>Code Postal</b>:  </br><%=@entity.postal_code%></p>
    </div>
        <div class="col">
        <p><b>Ville</b>:  </br><%=@entity.city%></p>
    </div>
    <div class="col">
        <p><b>Numéro de Téléphone</b>:  </br><%=@entity.phone_number%></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <p><b>Email</b>:  </br><%=@entity.email%></p>
    </div>
    <div class="col">
        <p><b>Site Web</b>:  </br><%=@entity.website%></p>
    </div>
  </div>
</div>
</br>

<h2> Declarations TVA </h2>

<ul>
    <%@declarations.each do |declaration|%>
        <li><a href="./<%=declaration.entity.id%>/returns/<%=declaration.id%>"> <%=declaration.begin_date%> - <%=declaration.end_date%> - <%=declaration.periodicity_to_project_type.project_type.name%></a></li>
    <%end%>
</ul>

<a class="btn btn-primary" href="./<%=@entity.id%>/edit"> Modifier </a>

