<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_url, class: "navbar-brand" do %>

    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to "Homepage", root_path , class: "dropdown-item"%>
        <%if !current_user.user_access_companies.nil? %>
          <%= link_to "My Company", companies_path, class: "dropdown-item" %>
          <%= link_to "My Declarations", returns_path, class: "dropdown-item"%>
          <%= link_to "My Tax Codes", entity_tax_codes_path, class: "dropdown-item"%>
          <%= link_to "My Invoices", invoices_path, class: "dropdown-item"%>
          <%= link_to "My Customers", customers_path, class: "dropdown-item"%>
          <%= link_to "My Items", items_path, class: "dropdown-item"%>

          <%= link_to "My Dashboard", "#", class: "dropdown-item"%>
          
                
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Account", user_path(current_user.id), class: "dropdown-item" %>
              <a class= "dropdown-item" href='/accesses'>Access Management </a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <%end%>
      <% else %>
         <li class="nav-item">
          <%= link_to "Discover", new_user_session_path, class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Pricing", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
