<h1> New Customer </h1>


    <%= simple_form_for([@company, @customer]) do |f| %>
        <%= f.input :name %>
        <%= f.input :vat_number %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :post_code %>
        <%= select_tag :country,
        options_from_collection_for_select(@countries, "id", "name"),
        include_blank: true %>

 

        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

