<h1> New Customer </h1>


    <%= simple_form_for([ @customer]) do |f| %>
        <%= label_tag :Company%>
        <%= select_tag :company,
        options_from_collection_for_select(@companies, "id", "name"),
        include_blank: true,
        class:"form-control" %>
        </br>
        <%= f.input :name %>
        <%= f.input :vat_number %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :post_code %>
        <%= label_tag :Country %>
        <%= select_tag :country,
        options_from_collection_for_select(@countries, "id", "name"),
        include_blank: true,
        class:"form-control" %>
        </br>

        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

