
<%if UserAccessCompany.where(user_id: current_user.id).nil?%>
<%=link_to "Create Company", new_company_path%>

<%else%>
<p> Factures non payées  - <a href="/invoices"> Voir plus  </a></p>
<ul>
    <% @invoices_top_5.each do |invoice| %>
        <li><a href="/companies/<%=invoice.entity.company.id%>/invoices/<%=invoice.id%>"> <%= invoice.invoice_name%> </a> - Date de Paiement: <%= invoice.invoice_date%></li>
    <%end%>
</ul>

</br></br>

</br></br>

<div class="container">
    <header>
        <div style="float: left;">LOGO</div>
        <div style="float: right;">LOGIN BUTTON</div>
        <div style="clear: both;"></div>
    </header>

    <section class="bg-overlay" style="background: url('path_to_background_image.jpg') no-repeat center; background-size: cover;">
        <h1>Simplify Your VAT Management</h1>
        <p>Join thousands of businesses using VATSoft</p>
        <button>START FREE TRIAL</button>
    </section>

    <!-- Features -->
    <section class="feature">
        <span class="feature-icon">🖥️</span>
        <h3>Streamlined Dashboard</h3>
        <p>Easily oversee all your VAT-related tasks in one intuitive dashboard.</p>
    </section>
    <!-- Repeat similar blocks for other features... -->

    <!-- Testimonials -->
    <section>
        <h2>What our users say</h2>
        <!-- Add testimonial avatars, quotes, etc. -->
    </section>

    <!-- Pricing -->
    <section>
        <!-- Add pricing details... -->
    </section>

    <footer>
        <!-- Add footer details, social icons, etc. -->
    </footer>
</div>



<%= column_chart Invoice.where(:entity_id => @entities.ids, is_paid: [false, nil]).group_by_day(:payment_date).count, title: "Facture par Date de Paiement" %> 

</br></br>

<%= column_chart @data_count, stacked: true, title: "Nombre de Factures par statut" %> 

</br></br>

<%= column_chart @data_amount, stacked: true, title: "Nombre de Factures par montant" %> 

</br></br>

<%= line_chart @data_all, title: "Revenus" %>
<%end%>