<%= link_to "Create Company", new_company_path, class: "btn btn-primary" %>
<%= link_to "See Access Management", accesses_path, class: "btn btn-primary" %>

<h2 class="text-center">My Companies</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Company Name</th>
            <th class="text-center" scope="col">Jurisdiction</th>
            <th class="text-center" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @companies.each_with_index do |company, index| %>
            <tr>
                <th class="text-center" scope="row"><%= index + 1 %></th>
                <td class="text-center">
                    <%= link_to company.name, company_entities_path(company) %>
                </td>
                <td class="text-center"><%= company.country.name %></td>
                <td class="text-center">
                    <%= link_to "Open", company_entities_path(company), class: "btn btn-light" %>
                    <%= link_to "Edit", edit_company_path(company), class: "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
