<h1> Update your Declaration for <%=@declaration.entity.name%> </h1>

     <%= simple_form_for([@company, @declaration]) do |f| %>

        <%= f.input :start_date,
        as: :string,
        required: true,
        autofocus: true,
        input_html: {class: "datepicker"}%>
        <%= f.input :end_date,
        as: :string,
        required: true,
        autofocus: true,
        input_html: {class: "datepicker"}%>
        <%= f.input :type_of_project,
        collection: ["VAT", "LSPL", "ESPL"],
        required: true,
        autofocus: true%>       


        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
