<h1> Your declarations </h1>
<%i=1%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Entity Name</th>
      <th scope="col">Jurisdiction</th>
      <th scope="col">Project Type</th>
      <th scope="col">Periodicity</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%@returns.each do |company_return| %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=company_return.entity.name%></td>
      <td><%=company_return.entity.country.name%></td>
      <td><%=company_return.periodicity_to_project_type.project_type.name%></td>
      <td><%=company_return.periodicity_to_project_type.periodicity.name%></td>
      <td><%=company_return.begin_date%></td>
      <td><%=company_return.end_date%></td>
      <td><%=company_return.due_date.due_date%></td>
      <td>

        <a class="btn btn-light" href="/companies/<%=company_return.entity.company.id %>/entities/<%=company_return.entity_id%>/returns/<%=company_return.id%>"> Open </a>
        <%= button_to "Delete", { action: "destroy", id: company_return.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
      </td> 
    </tr>
    <%i += 1%>
    <%end%>
  </tbody>
</table>
<p><a href="<%=new_return_path%>">Create a new Return </a></p>





