<h1>Declaration for <%=@entity.name%> </h1>
<ul>
    <li><%=@return.begin_date%> - <%=@return.end_date%> - <%=@return.project_type.name%></a></li>
</ul>

<a class="btn btn-primary" href="../returns/<%=@return.id%>/edit"> Edit </a>  
<a class="btn btn-primary" href="<%=company_entity_return_transactions_path(@company.id, @return.entity.id, @return.id)%>"> See all transactions </a>  
<a class="btn btn-primary" href="<%=new_company_entity_return_transaction_path(@company.id, @return.entity.id, @return.id)%>"> Add a transaction </a>  
<a class="btn btn-primary" href="./<%=@return.id%>/transactions/new.file_upload"> Upload a file </a>  

<table class="table">

  <tbody>
  <%i = 1%>
    <% @box_names.each do |box_name| %>
        <tr>
          <% if box_name.name[0..2] == "Box" %>
            <td><%=box_name.name%></td>
            <td><%= ReturnBox.where(box_id: box_name.id, return_id: @return.id)[0].amount%></td>
          <% else %>
            <td><%=box_name.name%></td>
            <td></td>
          <% end%>
            <td>
                 <a class="btn btn-primary" href="./return_boxes/<%=ReturnBox.where(box_id: box_name.id, return_id: @return.id)[0].id%>/edit"> Manually Update the Amount </a>   
            </td> 
        </tr>
        <%i += 1%>
   <%end%>
  </tbody>
</table>

</br>
</br>

<h1>First 10 Transactions</h2>
</br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tax Code Name</th>
      <th scope="col">Business Partner Name</th>
      <th scope="col">Business Partner VAT Number</th>
      <th scope="col">Gross Amount</th>
      <th scope="col">Net Amount</th>
      <th scope="col">VAT Amount</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%i = 1%>
    <%@transactions.each do |transaction|%>
        <tr>
            <th scope="row"><%=i%></th>
            <td><%= transaction.invoice.tax_code_operation_location.name + " | " + transaction.invoice.tax_code_operation_side.name + " | " + transaction.item.tax_code_operation_type.name + " | " + transaction.item.tax_code_operation_rate.name%></td>
            <td><%=transaction.invoice.customer.name%></td>
            <td><%=transaction.invoice.customer.vat_number%></td>
            <td><%=transaction.net_amount + transaction.vat_amount%></td>
            <td><%=transaction.net_amount%></td>
            <td><%=transaction.vat_amount%></td>
            <td>
                 <a class="btn btn-primary" href="./<%= @return.id%>/transactions/<%=transaction.id%>/edit"> Edit </a>
                 <%= button_to "Delete the Transaction", { action: "destroy", id: (transaction.id.to_s + @return.id.to_s).to_i}, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
                 <a class="btn btn-danger" href="./<%= @return.id%>/transactions/<%=transaction.id%>.destroy"> Delete </a>
                
                    
                   </td> 
        </tr>
        <%i += 1%>
   <%end%>
  </tbody>
</table>

