<h1> Your Tax Codes </h1>

<%= link_to "Create Tax Code", new_company_entity_tax_code_path(@entity_tax_codes.first.entity.company) %>

<%i=1%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Entity Name</th>
      <th scope="col">Jurisdiction</th>
      <th scope="col">Tax Code Name</th>
      <th scope="col">Side</th>
      <th scope="col">Location</th>
      <th scope="col">Type</th>
      <th scope="col">Rate</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%@entity_tax_codes.each do |entity_tax_code| %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=entity_tax_code.entity.name%></td>
      <td><%=entity_tax_code.entity.country.name%></td>
      <td><%=entity_tax_code.name%></td>
      <td><%=entity_tax_code.country_tax_code.tax_code_operation_side.name%></td>
      <td><%=entity_tax_code.country_tax_code.tax_code_operation_location.name%></td>
      <td><%=entity_tax_code.country_tax_code.tax_code_operation_type.name%></td>
      <td><%=entity_tax_code.country_tax_code.tax_code_operation_rate.name%></td>
      <td>
        <a class="btn btn-primary" href="/companies/<%=entity_tax_code.entity.company.id%>/entity_tax_codes/<%=entity_tax_code.id%>/edit"> Edit </a>  
        <a class="btn btn-danger" href="/companies/<%=entity_tax_code.entity.company.id%>/entity_tax_codes/<%=entity_tax_code.id%>/destroy" onclick="return confirm('Are you sure?')"> Delete </a>

      </td> 
    </tr>
    <%i += 1%>
    <%end%>
  </tbody>
</table>
<p><a href="<%=new_return_path%>">Create a new Return </a></p>


