<h2> Your Items </h2>
<a class="btn btn-primary" href="./items/new"> Create Item </a>  

<%i=1%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Net Amount</th>
      <th scope="col">VAT Amount</th>
      <th scope="col">Entity Name</th>
      <th scope="col">VAT Rate</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%@items.each do |item| %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=item.item_name%></td>
      <td><%=item.item_description%></td>
      <td><%=item.net_amount%></td>
      <td><%=item.vat_amount%></td>
      <td><%=item.entity.name%></td>
      <td><%=item.tax_code_operation_rate.name%></td>
      <td>
        <a class="btn btn-primary" href="./items/<%=item.id%>/edit"> Edit </a>  
      </td> 
    </tr>
    <%i += 1%>
    <%end%>
  </tbody>
</table>