<h1> Create a new Invoice </h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">
     <%= simple_form_for([@company, @item]) do |f| %>
        <%= f.input :item_name %>

        <%= f.input :item_description %>

        <%= f.input :net_amount %>

        <%= label :entity, "Entity" %>
        <%= select_tag :entity_id,
        options_from_collection_for_select(@entities, "id", "name"),
        include_blank: true,
        class: "form-control"%>

        <%= label_tag 'Taux de TVA'%>
        <%= select_tag :rate_id, 
        options_from_collection_for_select(@tax_code_rates, "id", "name" ),
        include_blank: true,
        class: "form-control"%>


        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>
</div>
