<h1 style="font-size: 30px; text-align: center"> Create a new Invoice </h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">
        <form action='./create'>
            <%= label_tag "Nom"%>
            <%= text_field_tag :item_name, '', class:"form-control"%>

            <%= label_tag "Description"%>
            <%= text_field_tag :item_description, '', class:"form-control"%>

            <%= label_tag "Montant Hors TVA / Unité"%>
            <%= number_field_tag :net_amount, '', class:"form-control"%>

            <%= label_tag "Entité" %>
            <%= select_tag :entity_id,
            options_from_collection_for_select(@entities, "id", "name"),
            include_blank: true, 
            class:"form-control" %>

            <%= label_tag 'Taux de TVA'%>
            <%= select_tag :rate_id, 
            options_from_collection_for_select(@tax_code_rates, "id", "name" ),
            include_blank: true,
            class: "form-control"%>

            <%= label_tag :type, "Type"%>
            <%= select_tag :type,
            options_from_collection_for_select(@types, "id", "name"),
            include_blank:true, 
            required: true,
            class:"form-control" %>
            <input type='submit' value='Sauvegarder' class='btn btn-primary'>

        </form>
    </div>
  </div>
</div>

