<h1>Your Transactions</h1>

<a class="btn btn-primary" href="<%=company_entity_return_path(@company, @entity, @return)%>"> Back to Return informations </a>  


    

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tax Code Name</th>
      <th scope="col">Business Partner Name</th>
      <th scope="col">Business Partner VAT Number</th>
      <th scope="col">Gross Amount</th>
      <th scope="col">Net Amount</th>
      <th scope="col">VAT Amount</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%i = 1%>
    <%@transactions.each do |transaction|%>
        <tr>
            <th scope="row"><%=i%></th>
            <td><%=transaction.entity_tax_code.name%></td>
            <td><%=transaction.business_partner_name%></td>
            <td><%=transaction.business_partner_vat_number%></td>
            <td><%=transaction.total_amount%></td>
            <td><%=transaction.net_amount%></td>
            <td><%=transaction.vat_amount%></td>
            <td>
                 <a class="btn btn-primary" href="./transactions/<%=transaction.id%>/edit"> Edit </a>
                 <a class="btn btn-danger" href="./transactions/<%=transaction.id%>.delete"> Delete </a>
                 <%= button_to "Delete the Transaction", { action: "destroy", id: transaction.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>

                    
                   </td> 
        </tr>
        <%i += 1%>
   <%end%>
  </tbody>
</table>

