<h1>Transactions</h1>

<a class="btn btn-primary" href="/entreprises/<%=@entity.company.id%>/entites/<%=@entity.id%>/declarations/<%=@return.id%>"> Retour à la Déclaration </a>  


    

<% total_amount = 0 %>
<% total_vat = 0 %>

</br>
</br>
</br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Articles</th>
      <th scope="col">Commentaires</th>
      <th scope="col">Quantités</th>
      <th scope="col">Montant Net / Unité</th>
      <th scope="col">Montant TVA / Unité</th>
      <th scope="col">Montant Total</th>
    </tr>
  </thead>
  <tbody>
  <%i=1%>
  <%@transactions.each do |transaction|%>
    <% total_amount += transaction.net_amount+ transaction.vat_amount %>
    <% total_vat += transaction.vat_amount  %>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%=transaction.item.item_name%></td>
      <td><%=transaction.comment%></td>
      <td><%=transaction.quantity%></td>
      <td><%=transaction.net_amount.round(2) / transaction.quantity%></td>
      <td><%=transaction.vat_amount.round(2) / transaction.quantity%></td>
      <td><%=transaction.net_amount.round(2) + transaction.vat_amount.round(2)%></td>
      <td>
        <% transaction.item.is_hidden == true ? direction = "edit_ticket_invoice" : direction = "edit_transaction_invoice" %>

      </td>
    </tr>
    <%i +=1%>
    <%end%>
  </tbody>
</table>

<p> <b>Montant Total Hors TVA</b>: <%= total_amount.round(2) - total_vat.round(2)%> </p>
<p> <b>Montant Total de TVA</b>: <%= total_vat.round(2) %></p>

</br>

<p> <b>Montant Total (EUR)</b>: <%= total_amount.round(2) %> </p>