<!DOCTYPE html>
<html>
  <head>
    <title>FreyaTax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>


  <%if current_user.nil? %>

    <a href='/users/sign_in'>Please Sign In or Create a User</a>
  <%elsif current_user.language.name == 'English' %>
    <%= render 'shared/navbar' %>
  <%elsif current_user.language.name == 'French' %>
    <%= render 'shared/navbar_french' %>
  <%end%>
    <%= yield %>
  </body>
</html>
