<!DOCTYPE html>
<html>
  <head>
  <style>
         .bar {
            fill: green;
         }
        
         .highlight {
            fill: red;
         }
         
         .title {
            fill: blue;
            font-weight: bold;
         }
      </style>
      <script src = "https://d3js.org/d3.v4.min.js"></script>
    
    <title>FreyaTax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <%if current_user.language.name == 'English' %>
    <%= render 'shared/navbar' %>
  <%elsif current_user.language.name == 'French' %>
    <%= render 'shared/navbar_french' %>
  <%end%>
    <%= yield %>
  </body>
</html>
